.spread-cell-area {
  pointer-events: none;
  &__select {
    position: absolute;
    border: 2px solid #0a70f5;
    z-index: 10;
    box-sizing: border-box;
  }
  &__main {
    position: absolute;
    border: 1px solid #0a70f5;
    user-select: none;
    z-index: 10;
    box-sizing: border-box;
    &--extended {
      background-color: #0a70f52e;
    }
  }
  &__main-btn {
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0a70f5;
    pointer-events: auto;
    cursor: crosshair;
  }
  &__extension {
    position: absolute;
    border: 1px dashed #0a70f5;
    z-index: 10;
    box-sizing: border-box;
  }
  &__extension-tip {
    position: absolute;
    background-color: #000;
    height: 22px;
    min-width: 30px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    z-index: 10;
  }
  &__copy {
    position: absolute;
    z-index: 10;
  }
}
.spread-rolling-border {
  background: linear-gradient(90deg, #0a70f5 50%, transparent 50%), linear-gradient(90deg, #0a70f5 50%, transparent 50%),
    linear-gradient(0deg, #0a70f5 50%, transparent 50%), linear-gradient(0deg, #0a70f5 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  animation: border-dance 2s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  }

  100% {
    background-position: 40px 0px, calc(100% - 30px) 100%, 0px calc(100% - 30px), 100% 40px;
  }
}
